{
    "authPolicyActions" : {
        "skip" : true
    },
  "skipEndpointTests": {
        "test case 4": "Does not work"
  },
  "endpointParameters": {
        "endpointId": {
            "required": false,
            "documentation": "The S3 bucket used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 bucket.",
            "type": "String"
            }
        }
}